# 資料庫連線設定
DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=gogin
DB_PASSWORD=a3935522
DB_NAME=goGinCRUD

# 時區設定
TZ=Asia/Taipei

# MySQL Docker 容器設定
MYSQL_ROOT_PASSWORD=a3935522
MYSQL_DATABASE=goGinCRUD
MYSQL_USER=gogin
MYSQL_PASSWORD=a3935522
